
@{
    ViewBag.Title = "XoaTaiKhoan";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2> XÓA THÔNG TIN TÀI KHOẢN! Việc này sẽ xóa thông tin liên quan của bạn. Sẵn sàng để xóa? </h2>

@using (Html.BeginForm("XoaTaiKhoan", "NHANVIEN", FormMethod.Post))
{
    <div class="form-actions no-color">
        <input style="visibility: hidden;" name="id_admin" value=@Session["ID_Admin"] readonly />
        <br>
        <input type="submit" value="Xóa" class="btn btn-default" name="Xóa" />
    </div>
}